<h1>Neighborhoods of Boston</h1>

<% @neighborhoods.each do |hood| %>
  <h2><%= link_to hood.name, neighborhood_path(hood) %></h2>
  <p><%= hood.location %></p>
<% end %>

<%= link_to 'New Neighborhood', new_neighborhood_path %>
