/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */


@import url(http://fonts.googleapis.com/css?family=Pacifico);
@import url(http://fonts.googleapis.com/css?family=Lato:300,400);

nav.top-bar {
  background:rgba(0,0,0,0.5);
  background: #FFF;
}

.top-bar ul li h1 a {
  font-family: Pacifico;
  font-size: 1.4em;
  color: #ff69b4 !important;
}

.top-bar .right li {
  font-family: Pacifico;
  font-size: 1em;
  display: inline-block;
  padding-right: 15px;
  padding-top: 10px;
}

.top-bar .right li a {
 color: #ff69b4 !important;
}

nav.top-bar ul.right li a:hover {
  background-color: none !important;
  background: none !important;
  text-decoration: none;
}

fieldset.tagline {
  padding:50px;
  border: none;
  margin: 0rem;
}

.neigh h1 {
  font-family: Lato;
  color: #000;
  font-size: 6em;
  text-align: center;
}

.hood h1 {
  font-family: Lato;
  color: #000;
  font-size: 6em;
  text-align: center;
  font-weight: 300;
  margin-top: -40px;
}

.row .large-4 {
  display: inline-block;
}

.row .panel {
  font-family: Lato;
  display: left;
  text-align: center;
}

.row .panel a {
  font-family: Pacifico;
  display: left;
  text-align: center;
  color: #ff69b4;
}

