@import url(https://fonts.googleapis.com/css?family=Pacifico);
@import url(https://fonts.googleapis.com/css?family=Lato:300,400);
@import 'foundation-icons';
@import "font-awesome-sprockets";
@import "font-awesome";

.fa-star-o {
  font-size: 2em;
}

.fa-star {
  font-size: 2em;
  color: #41A5B2;
}

.button {
  font-family: Lato;
  background-color: #41A5B2;
}
.row .row {
  width: 100%;
}

.top-bar .left .fi-magnifying-glass {
  font-size: 2.5em;
  color: #FFFFFF;
}

.top-bar .left #search-box .button {
  background-color: #41A5B2;
}

.top-bar .left #search-box {
  margin-top: .5em;
  font-family: Lato;
}

.top-bar .left #search-icon {
  margin-bottom: 10px;
}

nav.top-bar {
  height: 4em;
  background:rgba(0,0,0,0.5);
  background: #ff69b4;
}

.top-bar ul li h1 a {
  font-family: Pacifico;
  font-size: 1.6em;
  margin: .3em;
  color: #FFF;
}

.top-bar .right li {
  font-family: Pacifico;
  font-size: 1em;
  display: inline-block;
  padding-right: 15px;
  padding-top: 10px;
  margin-top: .6em;
}

.top-bar .right li a {
  color: #FFF;
}

.top-bar .right li img {
  border-radius: 35px;
}

.top-bar .left li {
  font-family: Lato;
  font-size: 1em;
  display: inline-block;
  padding-right: 15px;
  padding-top: 10px;
  margin-bottom: .3em;
}

.top-bar ul.left li.searchbox .search_button {
  background-color: #ff69b4;
}

.top-bar ul.left li.searchbox span.searchbox-icon {
  font-size: 3em;
}

nav.top-bar ul.right li a:hover {
  background-color: none;
  background: none;
  text-decoration: none;
}

fieldset.tagline {
  padding:50px;
  border: none;
  margin: 0rem;
}

.neigh h1 {
  font-family: Lato;
  color: #000;
  font-size: 6em;
  text-align: center;
}

.hood h1 {
  font-family: Lato;
  color: #000;
  font-size: 6em;
  text-align: center;
  font-weight: 300;
  margin-top: -40px;
}

.row .large-4 {
  display: inline-block;
}

#neighborhood_list {
  padding: 1em;
}

#neighborhood_list img {
  border-radius: 10px;
}

.columns {
  position: relative;
  vertical-align: middle;
}

.labelrow {
  font-family: Lato;
  color: #FFF;
  position: absolute;
  text-align: center;
  top: 41%;
  width: 100%;
}

.labelrow a {
  font-family: Pacifico;
  color: #ff69b4;
  font-size: 2em;
  text-align: center;
}

.rating {
  border-bottom: .15em solid #41A5B2;
  padding-top: 1em;
}

.rating ul {
  list-style-type: none;
}

.rating #review_details img {
  border-radius: 35px;
}

.rating #vote_count {
  font-family: Pacifico;
}

#ratings_list {
  padding: 2em;
}

#neighborhood_header #neighborhood_info {
  font-size: 1em;
  padding-top: 8.4em;
}

#neighborhood {
  padding-top: 4em;
  font-family: Lato;
}

#neighborhood .one_neighborhood {
  width: 100%;
}

#neighborhood h1 {
  font-family: Lato;
}

#ratings_list {
  padding-top: 3em;
}

#contributors {
  border: #B23875 solid .2em;
  border-radius: 1em;
  margin-top: 4em;
  margin-bottom: 4em;
  height: 20em;
  background-image: url("https://www.georgeglazer.com/maps/pictorialmap/images/gar-bostondet.JPG");
}

#contributors p {
  margin-left: 1em;
  margin-top: 2em;
  font-family: Lato;
  color: black;
}

#contributors #pics img {
  border-radius: 60px;
  border: #B23875 solid .2em;
  margin-top: 2em;
  position: relative;
}
