<div class="row">
  <% if @users %>
    <%= paginate @users %>
    <% @users.each do |user| %>
      <h2><%= user.email %></h2>
      <p id="delete"><%= link_to "Delete this User", admin_user_path(user), method: :delete %></p>
    <% end %>
  <% end %>
</div>
